# Auto detect text files and perform LF normalization
* text=auto


# Mark notebooks as "not code" (excluded from stats)
*.ipynb linguist-documentation
   
# Mark as generated (also excluded)
*.ipynb linguist-generated